*.log
*.tuc
*.code-workspace
.DS_Store

# Outputs
output/

# Personal CV
cv/

# Fonts
fonts/

# Sensitive
.env**
!.envrc.example

# Ignore markdown and PDF files except in examples/
*.md
*.pdf
*.docx
*.html
!examples/*.md
!examples/*.pdf
!examples/*.docx
# READMEs are okay
!*/README.md

# Codegen
CLAUDE*
INSTRUCTIONS*

# Test coverage
tarpaulin-report.html
lcov.info

# Added by cargo
/target
