*.log
*.tuc
*.code-workspace
.DS_Store

# Outputs
output/
**/*.pdf
**/*.docx

# Fonts
fonts/

# Sensitive
.env**

# Testing
resume.md

# Codegen
CLAUDE*
INSTRUCTIONS*

# Test coverage
tarpaulin-report.html
lcov.info

# Added by cargo
/target
